.image-container {
  img {
   max-height: 200px;
   width: 100%;
   max-width: 300px;

   margin: 10px;
   border-radius: 15px 0px 15px 0px;

   filter: blur(.75px);
   opacity: .6;

   transition: filter .5s, opacity .3s;

   &:hover {
     filter: none;
     opacity: 1;
   }
  }

  .image-container__text {
    color: white;
  }
}
