/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)


   CSS Reset
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*

  Font-size rem set up

*/
html {
  font-size: 62.5%;
}
html body {
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
}
div h1 {
  text-align: center;
  font-size: 7rem;
  color: white;
  margin: 30px 0;
  margin-right: 125px;
}
.App {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 5%;
}
.particles-bg {
  position: fixed;
  z-index: -90001;
}
.image-container img {
  cursor: pointer;
  height: 150px;
  width: 200px;
  margin: 0 3px;
  border-radius: 15px 0px 15px 0px;
  filter: blur(0.75px);
  opacity: 0.75;
  transition: filter 0.5s, opacity 0.3s;
}
.image-container img:hover {
  filter: none;
  opacity: 1;
}
.image-container .image-container__text {
  color: white;
}
.fullscreen {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9001;
}
.fullscreen img {
  height: 100vh;
  width: 75%;
  display: block;
  margin: 0 auto;
  max-height: none;
  max-width: none;
  filter: none;
  opacity: 1;
}
.fullscreen .image-container__text {
  position: relative;
}
.fullscreen .image-container__text .text--left {
  position: absolute;
  top: 25px;
  left: 15%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}
.fullscreen .image-container__text .text--right {
  position: absolute;
  top: 25px;
  right: 15%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}
.fullscreen .image-container__text p {
  margin: 15px 0;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #00FF1B;
}
.pagination {
  margin: 40px 0 30px 50%;
  transform: translateX(-25%);
}
